@font-face {
  font-family: "montserratt";
  src: url('/static/968200684-Montserrat-Regular.eot');
  src: url('/static/968200684-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/static/968200684-Montserrat-Regular.svg#montserratt') format('svg'),
  url('/static/968200684-Montserrat-Regular.woff') format('woff'),
  url('/static/968200684-Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratt";
  src: url('/static/67260743-Montserrat-Bold.eot');
  src: url('/static/67260743-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('/static/67260743-Montserrat-Bold.svg#Montserrat') format('svg'),
  url('/static/67260743-Montserrat-Bold.woff') format('woff'),
  url('/static/67260743-Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #222222;
  background: #eaeaea;
  line-height: 1.4;
}

/* Clearing
-------------------------------------------------------------------------------------- */
#main:after,
#content:after,
ul#nav:after,
ul#filternav:after,
form div.row:after,
div.post:after,
div.post div.content:after,
div.meta:after,
div.tools:after,
div.tools div.boxright:after,
div.tools div.boxright ul:after,
#comments:after,
div.comment:after,
div.comment div.entry:after,
div.comment-meta:after,
div.comment-links:after,
div.comment-links ul:after,
ul#rightnav:after,
div.sidebox:after,
div.footer:after,
div.footer ul.footer-links:after,
.clear:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }


/* General Page Structure
-------------------------------------------------------------------------------------- */
#wrapper {
  margin: 0 auto;
  width: 1024px;
  text-align: left;
  font-size: 14px;
  background: #fff;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}
#main {
  padding: 0px 0px 15px 0px;
}
#content {
  float: left;
  padding: 30px 0 0 32px;
  width: 710px;
}
#sidebar {
  float: right;
  width: 220px;
  padding: 30px 32px 0 0;
}


/* General Styles
-------------------------------------------------------------------------------------- */
a img {	border: none; }


/* General Typography
-------------------------------------------------------------------------------------- */
/*body {
font: 12px/1.5 Arial, Helvetica, sans-serif;
}*/
#content {
  text-align: justify;
}
#sidebar {
  font-size: 0.9167em; /* 11px */
}
h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0 0 1em;
}
h1, h2 {
  color: #333;
  font-size: 1.3333em; /* 16px */
  margin: 0 0 0.75em;
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
h2 a {
  color: #326492;
  text-decoration: none;
}
ol, ul {
  margin-left: 40px;
  padding: 0;
}
a {
  color: #326492;
  text-decoration: underline;
}
a:visited {
  color: #8a8a8b;
}
h2 a:visited:hover, a:hover, div.tools a:hover {
  color: #3d3d3e;
}
h2 a:visited {
  color: #5a5a5b;
}
div.tools a {
  color: #8a8a8b;
}
.hide-text {
  position: absolute;
  width: 0;
  overflow: hidden;
}


/* Forms
-------------------------------------------------------------------------------------- */
form {
  margin: 0;
  padding: 0;
}
button {
  border: 1px solid #8a8a8b;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font: 1em Arial, Helvetica, sans-serif;
  padding: 2px;
}


/* Header
-------------------------------------------------------------------------------------- */
#header {
  height: 69px;
  padding: 0 32px;
}
#header h1 {
  float: left;
  margin: 19px 0 0;
  padding: 0;
}
#header h1 a {
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 25px;
  color: #326492;
  text-decoration: none;
  text-transform: uppercase;
}
#banner {
  height: 285px;
  background: #28577b url(/static/banner-image.jpg) no-repeat;
  cursor: pointer;
}
a#logo {
  display: block;
  float: left;
  margin: 35px 10px 0 35px;
}
img#tagline {
  display: block;
  float: left;
  margin: 45px 0 0;
}
a#miri,
a#fhi,
a#cfar {
  display: block;
  float: right;
  height: 0;
  padding-top: 69px;
  overflow: hidden;
  margin: 45px 18px 0 0;
}
a#miri {
  background: url(/static/miri.png?20130215-2) no-repeat top left;
  width: 78px;
  background-position: 0 -78px;
  margin-top: 44px;
}
a#fhi {
  background: url(/static/FHI_diamond.png?20120720) no-repeat top left;
  width: 67px;
  background-position: 0 -78px;
}
a#cfar {
  background: url(/static/cfar.png?20120720) no-repeat top left;
  width: 69px;
  background-position: 0 -78px;
}
a#miri:hover, a#fhi:hover, a#cfar:hover {
  background-position: 0 0px;
}

#user-info {
  overflow: auto;
  padding-top: 32px;
  float: right;
}

#user-info h2, #user-info a, #user-info span {
  display: block;
  float: left;
  margin-right: 10px;
}

#user-info h2 {
  text-transform: none;
  font-weight: normal;
  font-size: 11px;
  color: #787878;
  background: url(/static/user-id-ico.png) no-repeat;
  padding-left: 20px;
}

#user-info span.score,
#user-info span.monthly-score {
  font-weight: normal;
  line-height: 16px;
  min-width: 10px;
  padding: 0 3px;
  text-align: center;
  background: #326492;
  font-size: 8px;
  color: #fff;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

#user-info span.score {
  margin-right: 2px;
}

#user-info span.monthly-score {
  background: #7697b6;
}

/* login button */
#loginbutton {
  position: relative;
  top: 23px;
  left: 200px;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background: #2a597c url(/static/login-btn-ico.png) no-repeat 10px center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  font-family: montserratt, Arial, sans-serif;
  font-size: 11px;
  height: 29px;
  line-height: 29px;
  padding-bottom: 0px;
  padding-left: 33px;
  padding-right: 14px;
  padding-top: 0px;
  text-align: left;
  text-decoration: none;
}

/* logout link */
#header #signout {
  font-size: 11px;
  border-left: 1px solid #999999;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  margin-right: 0px;
}

/* search */
#side-search {
  width: 230px;
  float: right;
  margin-top: 26px;
  position: relative;
  left: 15px; /* Compensate for padding I can't seem to get rid of */
}
#side-search input.gsc-search-button {
  display: none;
}

/* Nav Menu
-------------------------------------------------------------------------------------- */
ul#nav {
  clear: both;
  list-style: none;
  margin: 0;

  height: 42px;
  border-bottom: 1px solid #b2b2b2;
  padding: 0 20px;
}

#nav img.dropdown {
  display:none;
}
ul#nav li {
  float: left;
  font-size: 15px;
  line-height: 1;
  margin: 0 4px;
  position: relative;
  list-style: none;
  font-family: 'montserratt', Arial, sans-serif;
  -webkit-text-stroke: 0.3px;
}
ul#nav li:first-child {
  margin-left: 18px;
}
ul#nav li:last-child {
  border-right: none;
}
ul#nav li a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  height: 43px;
  line-height: 42px;
  color: #464646;
}
ul#nav li.active a {
  font-weight: bold;
  color: #326492;
  background: url(/static/tab-arrow.png) no-repeat center bottom
}
ul#nav li a:hover {
  color: #777;
}
ul#nav li.right {
  float: right;
}
ul#nav li img.dropdown {
  cursor: pointer;
  vertical-align: middle;
}
ul#nav li ul {
  background-color: #fff;
  border: 1px solid #c9c7c7;
  display: none;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
}
ul#nav li ul li {
  border-right: none;
  float: none;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  position: static;
  text-transform: none;
}
ul#nav li ul li a {
  display: block;
  padding: 2px 10px;
}
ul#nav li ul li a:hover {
  background-color: #eee;
}

ul#filternav {
  clear: both;
  list-style: none;
  margin: 0;

  height: 42px;
  border-bottom: 1px solid #b2b2b2;
}
ul#filternav li {
  float: left;
  font-size: 15px;
  line-height: 1;
  margin: 0 4px;
  position: relative;
  list-style: none;
  font-family: 'montserratt', Arial, sans-serif;
  -webkit-text-stroke: 0.3px;
}
ul#filternav li a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  height: 43px;
  line-height: 42px;
  color: #464646;
}
ul#filternav li.active a {
  font-weight: bold;
  color: #326492;
  background: url(/static/tab-arrow.png) no-repeat center bottom
}
ul#filternav li:last-child {
  border-right: none;
}

#post-filter {
  position: relative;
  margin-bottom: 30px;
  z-index: 999;
}
#post-filter div.filter-active {
  background: url(/static/disclosure-triangle.gif) no-repeat 0 2px;
  color: #666666;
  cursor: pointer;
  font-size: 11px;
  padding-left: 18px;
}
#post-filter div.open {
  background-position: 0 -16px;
}
#post-filter div.filter-options {
  background-color: #fff;
  border: 1px solid #c9c7c7;
  display: none;
  font-size: 11px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  z-index: 999;
}
#post-filter div.filter-options a {
  display: block;
  padding: 2px 10px;
  text-decoration: none;
}
#post-filter div.filter-options a:hover {
  background-color: #eee;
}

#navbar {
  position: relative;
}

/* back to forum link */
#back_to_forum {
  position: absolute;
  top: 10px;

  float: left;
  margin: 0 0 0 24px;
  padding-left: 24px;
  list-style: none;
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 14px;
  -webkit-text-stroke: 0.3px;
  color: #326492;
  text-decoration: none;
  line-height: 21px;
  background: url(/static/option-back-forum-ico.png) no-repeat left center;
}

/* new article link */
#newarticle {
  position: absolute;
  top: 10px;
  right: 280px;

  float: left;
  margin: 0 0 0 24px;
  padding-left: 24px;
  list-style: none;
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 14px;
  -webkit-text-stroke: 0.3px;
  color: #326492;
  text-decoration: none;
  line-height: 21px;
  background: url(/static/option-new-article-ico.png) no-repeat left center;
}

/* messages link */
#messages {
  position: absolute;
  right: 130px;
  -webkit-text-stroke-color: rgb(86, 86, 86);
  -webkit-text-stroke-width: 0.30000001192092896px;
  display: list-item;
  float: left;
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 14px;
  margin: 0 0 0 30px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-left: 30px;
  text-align: left;
  width: 100px;
}

#messages.empty {
  background: url(/static/option-messages-ico.png) no-repeat left center;
  top: 10px;
  line-height: 21px;
}

#messages.unread {
 background-image: url(/static/new_mail.png);
 background-repeat: no-repeat;
 background-position: left -1px;
 top: 6px;
 line-height: 28px;
}

#messages a {
  text-decoration: none;
  color: #326492;
}

/* preferences link */
#preferences {
  position: absolute;
  top: 10px;
  right: 30px;

  float: left;
  margin: 0 0 0 24px;
  padding-left: 24px;
  list-style: none;
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 14px;
  -webkit-text-stroke: 0.3px;
  color: #326492;
  text-decoration: none;
  line-height: 21px;
  background: url(/static/option-preferences-ico.png) no-repeat left center;
}

#side-user, #side-feed, #side-login {
  display: none;
}

/* Post
-------------------------------------------------------------------------------------- */
div.post {
  clear: both;
  margin: 5px 0;
  margin-bottom: 1.5em !important;
}

div.post h3 {
  font-size: 14px;
}

div.post h2 {
  font-size: 16px;
}

div.post h1, div.post h2, div.post h3 {
  /*padding-left: 20px;*/
  color: rgb(50, 100, 146);
  cursor: auto;
  display: block;
  margin: 10px 0 !important;
  font-family: montserratt, Arial, sans-serif;
  font-weight: bold;
  height: auto;
  line-height: 22.399999618530273px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-decoration: none solid rgb(50, 100, 146);
  width: auto;
  float: none !important;
}
div.post div.postedby {
  position: relative;
  top: 4px;

  color: rgb(143, 143, 143);
  display: inline-block;
  float: none;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 16.799999237060547px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 3px;
  margin-left: 35px;
  padding-left: 20px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
}
body.post div.post {
  padding: 10px 0 0;
}
div.meta {
  color: #7f7f83;
  line-height: 22px;
  margin: 0 0 12px;
}
div.meta > span {
  display: block;
  float: left;
  margin-right: 15px;
}
div.meta span.date {
  color: #999;
  font-style: italic;
}
div.meta span.votes {
  margin: 0 5px 0 0;
}
div.meta span.votes span.votes {
  float: left;
  font-size: 15px;
  color: #fff;
  padding: 0 5px;
  margin: 4px 0 0;
  line-height: 34px;
  height: 33px;
  min-width: 23px;
  background: #326492;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  text-align: center;
}
/*div.editors-pick div.meta span.votes span.votes {
  color: #fff;
  background-color: #326492;
  border: none;
  height: 22px;
  line-height: 22px;
  padding: 0 9px;
}*/
div.meta span.editors-pick {
  color: #326492;
  font-weight: bold;
}
div.meta span.author a {
  font-weight: bold;
  text-align: none;
  text-decoration: none;
}
div.content a.more {
  clear: both;
  color: #326492;
  float: right;
  text-align: right;
}
div.tools {
  font-family: 'montserratt', Arial, sans-serif;
  border-top: 1px solid #c9c7c7;
  border-bottom: 1px solid #c9c7c7;
  line-height: 18px; /* Same height as vote circles */
  margin: 12px 0 0;
  padding: 10px 0;
  position: relative;
}

div.tools a.comment {
  color: rgb(50, 100, 146);
  cursor: auto;
  display: block;
  float: right;
  font-family: montserratt, Arial, sans-serif;
  font-size: 12px;
  height: 16px;
  line-height: 16.799999237060547px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-decoration: none solid rgb(50, 100, 146);
}

body.post div.tools a.comment {
  font-weight: bold;
}

div.tools ul {
  float: right;
  line-height: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

div.tools ul li {
  border-left: 1px solid #dedede;
  float: left;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
}

body.post div.tools ul li {
  border-color: #999999;
}

div.tools ul li:first-child {
  border-left: none;
}

div.tools a.save, div.tools a.edit, div.tools a.hide, div.tools a.subscription {
  cursor: pointer;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 20px 0 0;
  width: 16px;
}
div.tools a.save:hover, div.tools a.save.mod,
/* div.tools a.subscription:hover, */
div.tools a.subscription.mod,
div.tools a.edit:hover,
div.tools a.hide:hover, div.tools a.hide.mod,
div.tools a.sub:hover, div.tools a.sub.mod,
div.tools a.unsub:hover, div.tools a.unsub.mod {
  background-position: 0 -20px;
}
div.tools a.save {
  background: url(/static/save-button.gif) no-repeat 0 0;
}
div.tools a.subscription {
  background: url(/static/subscribe.png);
  width: 20px;
}
div.tools a.edit {
  background-image: url(/static/edit.png);
}
div.tools a.hide {
  background-image: url(/static/hide.png);
  width: 26px;
}
div.tools a.sub{
  background-image: url(/static/agree-button.gif);
  width: 20px;
}
div.tools a.unsub{
  background-image: url(/static/disagree-button.gif);
  width: 20px;
}

div.tools div.tags {
  clear: both;
  padding-left: 20px;
}
div.tools div.tags span {
  color: #326492;
  font-weight: bold;
}
div.tools div.tags a {
  color: #8a8a8b;
  margin: 0 5px;
}
div.tools img.landscape {
  bottom: 5px;
  display: block;
  float: right;
  margin: 10px 0 0;
  position: absolute;
  right: 10px;
}
div.tools li.delete,
div.tools li.promote,
div.tools li.ban,
div.tools li.subscribe {
  line-height: 20px;
}
div.tools a.license {
  cursor: pointer;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 16px 0 0;
  margin-top: 2px;
  width: 16px;
  background: url(/static/cc-logo.png) no-repeat 0 0;
}
div.tools a.license:hover {
  background-position: 0 -16px;
}

a.read_more_link {
  color: rgb(50, 100, 146);
  cursor: auto;
  display: inline;
  font-family: montserratt, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  height: auto;
  line-height: 16.799999237060547px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;
  text-decoration: none;
  width: auto;
}

/* Meetup
-------------------------------------------------------------------------------------- */
body.meetup-index div.post,
body.meetup div.post {
  padding: 30px 0 0;
}
body.meetup-index h1 strong,
body.meetup h1 strong {
  text-transform: uppercase;
}
body.meetup-index #map {
  background-color: #eee;
  height: 500px;
  margin: 0 0 20px;
  width: 695px;
}
div.meetup-listing {
  margin-top: 20px;
}
div.meetup-listing div#siteTable {
  clear: none;
}
div.meetup-listing ul {
  color: #6A8A6B;
  font-size: 13px;
  margin-top: 30px;
  margin-left: 20px;
}
div.meetup-listing ul li {
  margin: 0 0 5px;
}
div.meetup-content {
  width: 445px;
  text-align: left;
}
div.meetup-content div.postedby {
  margin-left: 0;
  padding-left: 0;
}

div.meetup-meta {
  margin: 0 0 20px;
}
div.meetup-meta p {
  margin: 0;
}
div.meetup-meta p strong {
  text-transform: uppercase;
}
body.meetup div.post div.content {
  margin: 0 0 30px;
}
#front-map,
#meetup-map,
body.meetup #map {
  background-color: #eee;
  height: 300px;
  margin: 0;
}


/* Comments and Messages
-------------------------------------------------------------------------------------- */
#comment-controls {
  float: right;
  position: relative;
}
#comment-controls div.filter-inactive, #comment-controls div.filter-active {
  color: #666666;
  font-size: 11px;
  padding-left: 18px;
}
#comment-controls div.filter-active {
  background: url(/static/disclosure-triangle.gif) no-repeat 0 2px;
  cursor: pointer;
}
#comment-controls div.open {
  background-position: 0 -16px;
}
#comment-controls div.filter-options {
  background-color: #fff;
  border: 1px solid #c9c7c7;
  display: none;
  font-size: 11px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 20px;
}
#comment-controls div.filter-options a {
  display: block;
  padding: 2px 10px;
  text-align: right;
  text-decoration: none;
}
#comment-controls div.filter-options a:hover {
  background-color: #eee;
}

#comments {
  clear: both;
}
#comments h2 {
  color: #333;
  float: left;
  font-weight: bold;
  font-size: 16px;
}
form#comment-listing {
  float: right;
}
form#comment-listing label {
  padding-right: 5px;
}
div.comment, div.message {
  background-color: #ECF5FF;
  border: 1px solid #b3b3b3;
  clear: both;
  margin: 0 0 12px;
  padding: 5px;
}
div.comment {
  margin: 10px 0px 0px 0px;
  padding: 2px 0 10px 15px;
}
div.comment div.entry {
  padding-right: 15px;
}
div.comment div.comment {
  margin-right: -1px !important;
}
div.comment div.comment,
div.comment div.comment div.comment div.comment,
div.comment div.comment div.comment div.comment div.comment div.comment,
div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment,
div.message div.message,
div.message div.message div.message div.message,
div.message div.message div.message div.message div.message div.message,
div.message div.message div.message div.message div.message div.message div.message div.message {
  background-color: #fff;
  background-color: #fff;
  /*margin: 0px;*/
  padding-bottom: 10px;
}
div.comment div.comment div.comment,
div.comment div.comment div.comment div.comment div.comment,
div.comment div.comment div.comment div.comment div.comment div.comment div.comment,
div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment,
div.message div.message div.message,
div.message div.message div.message div.message div.message,
div.message div.message div.message div.message div.message div.message div.message,
div.message div.message div.message div.message div.message div.message div.message div.message div.message {
  background-color: #ECF5FF;
}
.new-comment,
div.comment div.new-comment {
  border: 5px solid #2F95FE !important;
  padding: 0 0 0 10px !important;
  margin-right: 0 !important;
}
div.retracted {
  text-decoration: line-through;
}
div.comment-meta {
  color: #7f7f83;
  padding: 0 0;
}
div.comment-meta span {
  float: left;
  font-size: 13px;
  margin: 0 10px 0 0;
}
div.comment-meta span.comment-author {
  font-family: 'montserratt', Arial, sans-serif;
  text-align: left;
}
div.comment-meta span.comment-author a {
  color: #326492;
  font-weight: bold;
  text-decoration: none;
}
div.comment-meta span.comment-date {
  color: #999;
  font-style: italic;
  margin: 0 20px 0 0;
}
div.comment-meta span.votes {
  color: #326492;
}
div.comment-meta a.expand {
  float: right;
}
div.message .tagline {
  padding: 0 5px;
  margin: 0;
}
div.message .head {
  display: block;
  font-style: italic;
  font-size: 13px;
  color: #858585;
  margin-bottom: 16px;
}

div.message .head.new {
  font-weight: bold;
  color: #2F95FE;
}

div.message .subject {
  color: rgb(86, 86, 86);
  font-weight: bold;
  padding: 0 5px;
  margin: 0;
}
div.message-content {
  clear: both;
  padding: 9px 5px 0;
}
div.comment-content {
  clear: both;
  padding: 0 0;
}

div.message-links {
  font-size: 12px;
}

div.comment-links, div.message-links {
  padding: 0 5px 5px;
}
div.comment-links {
  padding: 0 0 2px;
  margin-top: -10px;
}
div.comment-links ul, div.message-links ul {
  list-style: none;
  margin: 0;
}
div.comment-links ul li, div.message-links ul li {
  border-right: 1px solid #bbbcbf;
  float: left;
  line-height: 1em;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}
div.comment-links ul li:last-child, div.message-links ul li:last-child {
  border-right: none;
}

div.tools span.error, div.comment-links span.error {
  clear: left;
  display: block;
  padding-top: 5px;
  margin: 0;
  line-height: 1em;
}
div.comment-links span.error {
  padding-top: 10px;
}

div.comment-links ul {
  float: right;
}
div.comment-links ul.votes {
  float: left;
}
div.comment-links ul li {
  border-right: none;
  margin: 0 0 0 5px;
  padding: 0;
}
div.comment-links ul.votes li {
  margin: 0 5px 0 0;
}
div.comment-links ul li a {
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  height: 0;
  overflow: hidden;
  padding: 20px 0 0;
}
/*
div.comment-links ul li a:hover, div.comment-links ul li a.mod {
background-position: 0 -20px;
}
div.comment-links ul li.up a {
background-image: url(/static/vote-up.gif);
width: 14px;
}
div.comment-links ul li.subscribe a{
background-image: url(/static/subscribe.png);
width: 20px;
}
div.comment-links ul li.down a {
background-image: url(/static/vote-down.gif);
width: 14px;
}
div.comment-links ul li.reply a {
background-image: url(/static/reply-button.png);
width: 24px;
}
div.comment-links ul li.permalink a {
background-image: url(/static/permalink-button.gif);
width: 25px;
}
div.comment-links ul li.save {
border-left: 1px solid #cbcbcb;
border-right: 1px solid #cbcbcb;
padding: 0 5px;
}
div.comment-links ul li.save a {
background-image: url(/static/save-button.gif);
width: 16px;
}
div.comment-links ul li.agree a {
background-image: url(/static/agree-button.gif);
width: 20px;
}
div.comment-links ul li.disagree a {
background-image: url(/static/disagree-button.gif);
width: 20px;
}
div.comment-links ul li.edit a {
background-image: url(/static/edit.png);
width: 20px;
}
div.comment-links ul li.retract a {
background-image: url(/static/retract.png);
width: 20px;
}
div.comment-links ul li.report a {
background-image: url(/static/report.png);
width: 20px;
}
div.comment-links ul li.parent a {
background-image: url(/static/parent.png);
width: 20px;
}
div.comment-links ul li.hide a {
background-image: url(/static/hide.png);
width: 20px;
}
div.comment-links ul li.subscribe a.sub {
background-image: url(/static/agree-button.gif);
width: 20px;
}
div.comment-links ul li.subscribe a.unsub {
background-image: url(/static/disagree-button.gif);
width: 20px;
}
 */
/* Allow the 'yes/no' popup text to appear */
div.comment-links ul li.delete a.yes, div.comment-links ul li.delete a.no,
div.comment-links ul li.retract a.yes, div.comment-links ul li.retract a.no  {
  background-image: none;
  width: auto;
  display: inline;
  float: none;
}

/* Temporary styling for text buttons until we have icons */
div.comment-links ul li.delete a, div.comment-links ul li.unban a,
div.comment-links ul li.ban a, div.comment-links ul li.ignore a {
  height: 20px;
  padding-top: 4px;
}

/* New message */
div#content h1 {
  color: rgb(50, 100, 146);
  display: block;
  font-family: montserratt, Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  height: 26px;
  line-height: 26.600000381469727px;
  margin-bottom: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
}


/* Sidebar
-------------------------------------------------------------------------------------- */
#sidebar {

}
#sidebar h2 {
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: rgb(86, 86, 86);
  display: block;
  font-family: montserratt, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 22px;
  line-height: 21px;
  margin-bottom: 7px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
}
#sidebar h2 a {
  color: #58585a;
}
#sidebar h2 a:hover {
  text-decoration: none;
}
#sidebar h3 {
  font-size: 1em;
}
#sidebar a {
  text-decoration: none;
}
#sidebar a:hover {
  text-decoration: underline;
}
#sidebar ul {
  list-style: none;
  margin: 0;
}
#sidebar ul li {
  margin: 0 0 10px;
}
#sidebar ul li:last-child {
  margin: 0;
}
#sidebar div.spacer {
  clear: both;
}
div.sidebox {
  padding-top: 24px;
}
div.sidebox form {
  clear: both;
}
div.sidebox form div.row {
  margin: 0 0 5px;
}
div.sidebox label {
  clear: both;
  font-size: 1em; /* 11px */
  float: left;
  line-height: 1.81; /* ~20px same height as input */
  width: 44px;
}
div.sidebox input {
  width: 140px;
}
div.sidebox select {
  width: 146px;
}
#side-user,
#side-sort,
#side-search,
#side-login {
  padding-bottom: 5px;
}

#side-status {
  margin: 0 0 1em;
}
#side-status div.userinfo {
  float: left;
  clear: left;
  width: 92px;
}
#side-status div.userinfo span {
  color: #326492;
  clear: both;
  float: left;
  display: block;
}
#side-status div.userinfo span.label {
  font-size: 0.9090em; /* 10px */
  line-height: 1.1em;
  margin: 0 0 3px;
}

#side-status div.userinfo span.role {
  font-weight: bold;
  line-height: 22px;
}

#side-status div.userinfo span.label {
  display:none;
}

#side-status ul.userlinks {
  float: right;
  list-style: none;
  margin: 0;
  width: 98px;
}
#side-status ul.userlinks li {
  margin: 0 0 5px;
}
#side-status ul.userlinks li a {
  position: absolute;
}

#side-status dl.extrainfo {
  margin: 0;
  padding: 8px 0 0 0;
  clear: both;
}
#side-status .extrainfo dt, #side-status .extrainfo dd {
  margin: 0;
  padding: 0;
  float: left
}
#side-status .extrainfo dt {
  color: #326492;
  clear: left;
  width: 50px;
}
#side-status .extrainfo dd {
  overflow: hidden;
  max-width: 190px;
}
#side-login label {
  width: 84px;
}
#side-login input {
  width: 100px;
}
#side-login a {
  text-decoration: underline;
}
#side-posts h3 {
  margin: 0;
}
#side-tags {
  list-style-type: none; display: inline;
}
#side-tags li {
  display: inline;
}

ul#rightnav {
  float: right;
  margin: 0 0 13px;
  display:none;
}
ul#rightnav li {
  border-right: 1px solid #c9c7c7;
  float: left;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding: 0 10px;
  text-transform: uppercase;
}
ul#rightnav li:last-child {
  border-right: none;
  padding-right: 0;
}
ul#rightnav li a {
  color: #999999;
}
ul#rightnav li a:hover {
  text-decoration: none;
}

#side-feed a {
  font-size: 14px;
}
#side-feed a img {
  height: 14px;
  margin: 0 3px 0 0;
  vertical-align: text-top;
  width: 14px;
}

#side-comments .inline-comment-score {
  display: inline-block;
  min-width: 12px;
  line-height: 14px;
  padding: 1px 2px 0 1px;
  border: 1px solid #326492;
  text-align: center;
  color: #326492;
  font-size: 9px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

#side-comments .inline-comment-title {
  font-style: italic;
  color: #222222;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  display: inline-block;
  vertical-align: middle;
}

#side-comments h3 {
  font-size: 1em;
  font-weight: bold;
  height: 1.4em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

#side-comments div.inline-comment {
  display: block;
  margin: 0 0 10px;
}

#side-comments div.inline-comment:last-child {
  margin: 0;
}

#side-comments div.inline-comment span.tagline a.author {
  font-family: 'montserratt', Arial, sans-serif;
}

#side-comments div.inline-comment span.tagline a.author:hover {
  text-decoration: none;
  color: #326492;
}

#side-comments div.inline-comment span.tagline a.article-title {
  font-style: italic;
  text-decoration: underline;
  color: #326492;
}

#side-comments div.inline-comment span.tagline a.article-title:hover {
  text-decoration: underline;
}

#side-open h3 {
  font-size: 1em;
  font-weight: bold;
  height: 1.4em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

#side-open div.inline-comment {
  display: block;
  margin: 0 0 10px;
}
#side-open div.inline-comment:last-child {
  margin: 0;
}
#side-open div.inline-comment span.tagline a {
  color: #58585a;
}

#side-diary h3 {
  font-size: 1em;
  font-weight: bold;
  height: 1.4em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}
#side-diary div.inline-comment {
  display: block;
  margin: 0 0 10px;
}
#side-diary div.inline-comment:last-child {
  margin: 0;
}
#side-diary div.inline-comment span.tagline a {
  color: #58585a;
}

#side-quote h3 {
  font-size: 1em;
  font-weight: bold;
  height: 1.4em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}
#side-quote div.inline-comment {
  display: block;
  margin: 0 0 10px;
}
#side-quote div.inline-comment:last-child {
  margin: 0;
}
#side-quote div.inline-comment span.tagline a {
  color: #58585a;
}

#side-posts div.reddit-link {
  display: block;
  margin: 0 0 10px;
}
#side-posts div.reddit-link:last-child {
  margin: 0;
}
#side-posts div.reddit-link span a {
  color: #58585a;
}

#recent-wiki-edits ul li a {
  font-weight: bold;
}
#recent-wiki-edits ul li span a {
  color: #58585a;
  font-weight: normal;
}

#side-tags {
  display: block;
  line-height: 1.2;
  text-align: justify;
}
#side-tags ul {
  margin: 0;
}
#side-tags li.selected {
  color: #414143;
  font-weight: bold;
}
#side-tags .one   { font-size: 0.9em;   }
#side-tags .two   { font-size: 0.95em;  }
#side-tags .three { font-size: 1em;     }
#side-tags .four  { font-size: 1.125em; }
#side-tags .five  { font-size: 1.25em;  }
#side-tags .six   { font-size: 1.375em; }
#side-tags .seven { font-size: 1.5em;   }
#side-tags .eight { font-size: 1.625em; }
#side-tags .nine  { font-size: 1.75em;  }
#side-tags .ten   { font-size: 1.75em;  }

#sidebar div.contributors ul {
  margin: 0;
  padding: 0;
}

#sidebar div.contributors li.user {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar div.contributors li.user a {
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  margin-right: 5px;
  padding-left: 20px;
  background: url(/static/top-contributors-ico.png) no-repeat 0 2px;
}

#sidebar div.contributors li.user span {
  font-size: 11px;
  color: #787878;
}

/* Article Navigation
----------------------------------------------------------------------------------------------------*/
div.articlenavigation {
  clear: both;
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 11px;
  margin-top: 12px;
}
div.articlenavigation h4 {
  font-size: 12px;
  margin: 0;
}
div.articlenavigation h4 a {
  background: url(/static/disclosure-triangle.gif) top left no-repeat;
  padding-left: 18px;
  text-decoration: none;
}
div.articlenavigation h4 a.open {
  background-position: 0 -16px;
}
div.articlenavigation ul {
  border-top: 1px solid #DEDEDE;
  clear: both;
  float: none;
  margin: 5px 0 0;
  padding: 10px 0 0;
}
div.articlenavigation ul li {
  border: none;
  clear: both;
  display: block;
  line-height: 15px;
  margin: 1px 0;
  padding: 3px 5px;
  width: 650px;
}
div.articlenavigation ul li:hover {
  background-color: #eee;
}
div.articlenavigation ul li .nav {
  display: block;
  float: left;
  padding: 1px 0 0;
  width: 13px;
  height: 13px;
  background: url(/static/icons.png) no-repeat left top;
  background-position: 0 0;
  text-indent: -9999px;
}
div.articlenavigation ul li .prev {
  background-position: -608px 0;
}
div.articlenavigation ul li a.prev {
  background-position: -608px -32px;
}
div.articlenavigation ul li .next {
  background-position: -640px 0;
}
div.articlenavigation ul li a.next {
  background-position: -640px -32px;
}
div.articlenavigation ul li span.place {
  float: left;
  display: block;
  text-align: center;
  width: 70px;
}
div.articlenavigation ul li span.type {
  float: left;
  margin: 0 0 0 10px;
  width: 509px;
}
div.articlenavigation #article_nav_controls .loading {
  padding-left: 18px;
}
div.articlenavigation #article_nav_controls .loading img {
  padding-right: 5px;
}

/* Profile Page
----------------------------------------------------------------------------------------------------*/

.profile_page ul#nav li {
	margin: 0 10px 0 0;
	padding: 0 0 0 0;
}

/* Footer
----------------------------------------------------------------------------------------------------*/
div.footer {
  border-top-color: rgb(206, 206, 206);
  border-top-style: solid;
  border-top-width: 1px;
  color: rgb(86, 86, 86);
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 16px;
  line-height: 19.600000381469727px;
  margin-bottom: 0px;
  margin-left: 89px;
  margin-right: 89px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
}

* .loading {
  display: none;
}

.inprogress .loading,
.articlenavigation .loading {
  display: inline;
}

/* A hack to fix the layout of "Load more comments" */
span.deepthread,
span.morecomments {
  display: block;
  margin: -9px 0 9px;
}

span.deepthread {
  font-size: 12px;
}

/* New home page outline */
.masthead ul {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.masthead {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
.masthead h2 {
  font-weight: bold;
  border: none;
}
.masthead ul a {
  font-weight: bold;
}

#content .post {
  position: relative;
  padding-top: 0px;
}

div.post {
}

#content .post .meta {
  position: absolute;
  top: 0;
  left: 0;
}

#content .post .post-body {
  margin-left: 55px;
}

#content .post .post-body h2,
#content .post .post-body .postedby
{
  margin-left: 0px;
  padding-left: 0px;
}

#content .post .post-body .post-info {
  overflow: hidden;
  margin-bottom: 4px;
}

body.post #content .post .post-body .post-info {
  margin-bottom: 24px;
}

#content .post .post-body .postedby {
  top: 0px;
  float: left;
}

#content .post .post-body .post-comment-count {
  float: right;
}

#content .post .post-body .post-comment-count a {
  font-family: "montserratt",Arial,sans-serif;
  font-size: 12px;
  color: #326492;
  text-decoration: none;
}

#content .post .post-body .content .md {
  font-size: 14px;
}

#content .post .action-bar {
  border-top: 1px solid #ddd;
  padding: 13px 0 0;
  border-bottom: 1px solid #ddd;
}

#content .post .action-bar ul {
  list-style: none;
  margin-left: 0px;
  overflow: auto;
}

#content .post .action-bar ul li {
  float: left;
  margin-right: 10px;
}

#content .post .action-bar ul li.ban span {
  color: red;
}
#content .post .action-bar ul li a {
  text-decoration: none;
  font-weight: 700;
  background-color: whitesmoke;
  padding: 5px;
}

div.content a.more {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #326492;
  text-decoration: none;
  float: none;
  text-align: inherit;
}

#content .post h1 {
  height: auto;
  margin-bottom: 0px;
}

#content .post h1 a {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #326492;
  text-decoration: none;
}

h1 a:visited, h2 a:visited, a:visited {
  color: #326492;
}

/* Tools Bar on the Post page */

div.tools a {
  color: #326492;
}

div.tools a.comment {
  font-size: 13px;
  height: auto;
  line-height: 1.4;
  float: left;
}

/* Voting buttons */
div.tools div.vote {
  float: left;
  margin-right: 5px;
}

div.tools div.vote a {
  height: 18px;
  width: 16px;
  margin-right: 5px;
  background: url(/static/article-thumbs-ico.png) no-repeat left top;
  background-position: 0 0;
  cursor: pointer;
  display: block;
  float: left;
  text-indent: -9999px;
}

div.tools div.vote a.up {
  background-position: top left;
}

div.tools div.vote a.up:hover,
div.tools div.vote a.up.mod
{
  background-position: bottom left;
}

div.tools div.vote a.down {
  background-position: top right;
}

div.tools div.vote a.down:hover,
div.tools div.vote a.down.mod
{
  background-position: bottom right;
}

/* Action buttons */
div.tools a.save,
div.tools a.edit,
div.tools a.license,
div.tools a.subscription,
#side-meetups .add .icon {
  cursor: pointer;
  display: block;
  height: 16px;
  background: url(/static/icons.png) no-repeat 0 top;
  margin: 0;
  background-position: 0 0;
  text-indent: -9999px;
  padding: 0;
}

div.tools a.edit,
div.comment-links ul li.edit a
{
  width: 17px;
  height: 18px;
  background-position: -448px 1px;
}
div.tools a.edit:hover,
div.comment-links ul li.edit a:hover
{
  background-position: -448px -31px;
}
div.tools a.subscription {
  width: 21px;
  background-position: 0 0;
}
div.tools a.subscription:hover {
  background-position: 0 -32px;
}

div.tools a.edit.mod,
/* div.tools a.subscription:hover, */
div.tools a.subscription.mod
{
  background-position: bottom left;
}

div.tools a.save {
  width: 18px;
  background-position: -32px 0;
}
div.tools a.save:hover,
div.tools a.save.mod
{
  background-position: -32px -32px;
}

div.tools a.license {
  background-position: -64px 0;
  width: 16px;
}

div.tools a.license:hover,
div.tools a.license.mod
{
  background-position: -64px -32px;
}

/******** Comments *****************/

#comments {
  margin-left: 65px;
}

#comments h2 {
  font-size: 20px;
  font-weight: bold;
  color: #326492;
}

#comment-controls {
  margin-top: 10px;
}

div.comment-meta span.comment-date {
  color: #858585;
}

div.comment-links {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* TODO: Fix the child comment-meta headers having too much bottom space
div.entry div.comment-meta.collapsed {
  padding-bottom: 0px;
}
*/

/* Comment Actions */
div.comment-links ul li a {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(/static/icons.png) no-repeat left top;
  text-indent: -9999px;
  background-position: 0 0;
  padding: 0px;
}

/* Comment Voting */
div.comment-links ul.votes li a {
  display: inline-block;
  height: 18px;
  width: 16px;
  margin-right: 4px;
  background: url(/static/icons.png) no-repeat left top;
  text-indent: -9999px;
  background-position: 0 0;
  padding: 0px;
}

div.comment-links ul li.up a {
  background-position: -544px 0;
  width: 16px;
}
div.comment-links ul li.up a:hover,
div.comment-links ul li.up a.mod
{
  background-position: -544px -32px;
}

div.comment-links ul li.down a {
  background-position: -576px 0;
}
div.comment-links ul li.down a:hover,
div.comment-links ul li.down a.mod
{
  background-position: -576px -32px;
}

div.comment-links ul li.reply a {
  width: 24px;
  height: 19px;
  background-position: -192px 0;
}
div.comment-links ul li.reply a:hover,
div.comment-links ul li.reply a.mod
{
  background-position: -192px -32px;
}

div.comment-links ul li.permalink a {
  background-position: -480px 1px;
}
div.comment-links ul li.permalink a:hover,
div.comment-links ul li.permalink a.mod
{
  background-position: -480px -31px;
}

div.comment-links ul li.subscribe a {
  width: 21px;
  height: 16px;
  background-position: 0 0;
}
div.comment-links ul li.subscribe a:hover,
div.comment-links ul li.subscribe a.mod
{
  background-position: 0 -32px;
}

div.comment-links ul li.retract a {
  width: 21px;
  height: 20px;
  background-position: -352px 0;
}
div.comment-links ul li.retract a:hover,
div.comment-links ul li.retract a.mod
{
  background-position: -352px -32px;
}

div.comment-links ul li.parent a {
  width: 19px;
  height: 20px;
  background-position: -224px 0;
}
div.comment-links ul li.parent a:hover,
div.comment-links ul li.parent a.mod
{
  background-position: -224px -32px;
}

div.comment-links ul li.ban a {
  width: 19px;
  height: 20px;
  background-position: -128px 0;
}
div.comment-links ul li.ban a:hover,
div.comment-links ul li.ban a.mod,
{
  background-position: -128px -32px;
}

div.comment-links ul li.unban a {
  width: 19px;
  height: 20px;
  background-position: -128px -32px;
}
div.comment-links ul li.unban a:hover,
div.comment-links ul li.unban a.mod,
{
  background-position: -128px 0;
}

div.comment-links ul li.delete a {
  width: 19px;
  height: 20px;
  background-position: -160px -32px;
}


.commentreply .buttons button,
.commentreply .help-toggle button,
.poll-voting-area button, button
{
  display: inline-block;
  line-height: 25px;
  padding: 0 9px !important;
  cursor: pointer;
  background: #326492 !important;
  border: 0;
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 13px;
  color: #fff !important;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: normal !important;
}

body.post .comment .commentreply div {
  margin-right: 20px;
}

body.post .commentreply .help-toggle button {
  margin-right: -18px;
}

body.post .commentreply textarea,
body.meetup .commentreply textarea {
  min-height: 40px;
  padding: 8px;
  margin: 0 0 12px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #222222;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  border-radius: 0px;
  box-shadow: inherit;
  background: #fafafa;
  border: 2px solid silver;
  box-shadow: inset 1px 1px 0 0 #e8e8e8;
}

body.post .commentreply textarea:focus,
body.meetup .commentreply textarea:focus {
  border: 2px solid #376590;
}`

body.meetup .commentreply textarea {
  width: 681px;
}

.meetup-comments #comments {
  margin-left: 0;
}
#content .post .meetup-content .meta {
  position: static;
}

.author {
  font-family: 'montserratt', Arial, sans-serif;
}

/* Forms */

textarea#message {
  width: 100%;
}

.textbox,
textarea,
select {
  margin: 0;
  padding: 3px 6px;
  background: #f1f1f1;
  border: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  box-shadow: inset 1px 1px 0 0 #e8e8e8;
  width: 160px;
  overflow: auto;
}
.textbox {
  height: 18px;
}
select {
  height: 24px;
}

/* Prefences */
h6 {
  margin: 0 0 14px;
  line-height: 1.4;
  font-size: 13px;
  font-weight: bold;
}

#options {
  font-size: 13px;
}

#options ul {
  margin: 0 0 25px;
  padding: 0;
}

#options ul li {
  margin: 0 0 3px;
  padding: 0;
  list-style: none;
}

#options .textbox.small {
  width: 35px;
  margin: 0 7px;
  text-align: center;
}

#options ul li .checkbox {
  margin: 0 3px 0 0;
  padding: 0;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

#options ul li select {
  width: 53px;
  margin: 0 7px;
}

/* Sidebar styling */

#side-meetups ul {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px;
}

#side-meetups ul li {
  margin: 0 0 2px;
  padding: 0;
  list-style: none;
}

#side-meetups ul li a {
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  padding-left: 17px;
  background: url(/static/upcoming-meetups-ico.png) no-repeat;
}

#side-meetups ul li span.date {
  font-size: 11px;
  color: #787878;
}

#side-meetups .location {
  font-family: 'montserratt', Arial, sans-serif;
}

#side-meetups .add {
  padding-top: 10px;
  overflow: auto;
  display: inline-block;
}

#side-meetups .add .icon,
#side-meetups .add .label
{
  float: left;
}

#side-meetups .add .icon {
  width: 19px;
  height: 19px;
  background-position: -288px -32px;
}

#side-meetups .add .label {
  font-family: 'montserratt', Arial, sans-serif;
  margin-left: 5px;
}

#sidebar #feeds ul {
  margin: 0;
  padding: 0;
}

#sidebar #feeds ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar #feeds ul li a {
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 13px;
  color: #376590;
  text-decoration: none;
  padding-left: 19px;
  background: url(/static/relationality-blog-ico.png) no-repeat 0 2px;
}

#sidebar .linkbox li {
  margin: 0;
  padding: ;
}
#sidebar .linkbox li a {
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  padding-left: 17px;
  background: url(/static/getting-started-ico.png) no-repeat 0 3px;
}

.profile_page #newarticle {
  display: none;
}

/* User Friends */
.usertable h2 {
  margin-bottom: 10px;
  color: #326492;
}

.usertable form.pretty-form {
  margin-top: 0px;
  margin-bottom: 20px;
}

.usertable form.pretty-form .textbox {
  margin-left: 0px;
}

.usertable ul#friend {
  margin: 0;
  padding: 0;
}

.usertable ul#friend li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.usertable ul#friend li form {
  display: inline-block;
}

.usertable ul#friend li a {
  font-size: 12px;
  margin-right: 19px;
}

.usertable ul#friend li a.id {
  font-family: 'montserratt', Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  padding-left: 19px;
  margin-right: 16px;
  line-height: 12px;
  background: url(/static/top-contributors-ico.png) no-repeat left center;
}

/* Preferences Page */

form#passwordEmail {
	width: 490px;
}

form#passwordEmail .field-wrapper{
  overflow: auto;
}

form#passwordEmail .field {
	float: left;
	margin-right: 26px;
	margin-bottom: 10px;
}

form#passwordEmail .field label{
	display: block;
	font-weight: bold;
	padding-bottom: 3px;
}

form#passwordEmail .field .textbox {
	width: 192px;
  margin-left: 0px;
}

form#passwordEmail button.button {
  margin-left: 0px;
}

/* Delete Account */
#deleteAccount .question {
	margin-bottom: 5px;
}

#deleteAccount .question span {
	margin-right: 62px;
}

#deleteAccount .question label {
	margin-right: 33px;
}

#deleteAccount .question label input {
	margin: 0 0 0 5px;
	padding: 0;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

#deleteAccount  .button {
	margin-top: 16px;
  margin-left: 0px;
}

/* Login popup */

#loginpopup {
  left: inherit;
  width: 600px;
  padding: 50px 50px 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid #fff;
}

#loginpopup h2 {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #326492;
  margin-left: 5px;
  font-family: "montserratt",Arial,sans-serif;
}

#loginpopup .loginform {
  width: 229px;
  padding-left: 60px;
  padding-right: 0px;
  min-height: 330px; /* To make the separator look nice */
}

#loginpopup .loginform.divide {
  padding-left: 0px;
  padding-right: 60px;
}


#loginpopup input[type="text"],
#loginpopup input[type="password"] {
	margin: 0 0 5px;
	padding: 5px 6px;
	height: 18px;
	background: #f1f1f1;
	border: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	box-shadow: inset 1px 1px 0 0 #e8e8e8;
	overflow: auto;
  width: 200px;
}

#loginpopup label.remember {
  font-weight: normal;
  color: #888;
}

#loginpopup a.close-popup {
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  top: 4px;
  right: 15px;
}

#loginpopup .password-link a {
  color: #8a8a8b;
  font-style: italic;
}

#resend-confirmation-form {
  margin-top: 30px;
}
#resend-confirmation-form .email {
  color: black;
  font-style: italic;
}
