<%!
   from pylons.i18n import _, ungettext
   from r2.lib.filters import killhtml
   from r2.lib.template_helpers import get_domain
%>

  <span class="inline-comment-score" id="score_${thing._fullname}">${thing.score_fmt(thing.score)['label']}</span>
  <span class="inline-comment-title" href="${thing.make_anchored_permalink()}">${killhtml(thing.body)}</span>
  <span class="tagline">
    by&#32;<a class="author" href="http://${get_domain(cname=True, subreddit=False)}/user/${thing.author.name}">
    <strong>${thing.author.name}</strong></a>&#32;
    %if thing.author.pref_url:
      <a class ="author" href="${thing.author.pref_url}"><strong>(Profile)</strong></a>&#32;
    ${thing.author.pref_url}
    %endif
    on&#32;
    <a href="${thing.permalink}" class="article-title">${thing.link.title}</a>
  </span>
