## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%!
   from r2.lib.template_helpers import static, get_domain, json
   import os
%>
<%namespace file="utils.html" import="error_field, submit_form, plain_link, text_with_links, checkbox"/>
<%namespace file="printable.html" import="yes_no_button"/>

<script src="${static(os.path.join('tiny_mce','tiny_mce.js'))}" type="text/javascript"></script>
<script src="${static('tinymce.js')}" type="text/javascript"></script>

## Exists to be overidden by child templates
<%def name="form_extra()"></%def>

<%call expr="submit_form(action='/submit', _class='long-text content', _id='newlink')">
  ${self.form_extra()}
  <h1>${_("Submit article")}</h1>

  <div class="js-link-confirmation-message infobar displayNone"></div>
  <% allowed_to_publish = thing.main_subreddit.can_submit(c.user) %>
  <% not_allowed_to_publish_error_message = thing.main_subreddit.can_submit_error(c.user) %>
  %if not allowed_to_publish:
    <div class="infobar">
      ${not_allowed_to_publish_error_message}
    </div>
  %endif

  <table>
    <tr>
      <td>
      <label for="title">${_("Title")}:</label>
      <input id="title" name="title" value="${thing.title}"
                 onfocus="clearTitle(this)" type="text" />
        ${error_field("NO_TITLE", "span")}
        ${error_field("TITLE_TOO_LONG", "span")}
      </td>
    </tr>
    <tr>
      <td><textarea id="article" name="article" rows="35">${thing.article}</textarea></td>
    </tr>
    <tr>
      <td>
        ${checkbox("notify_on_comment", _("Notify me of new top level comments on this article"), thing.notify_on_comment)}
      </td>
    </tr>
    <tr>
      <td class="helper">
        ${checkbox("cc_licensed", _("Make this post available under the "), thing.cc_licensed)}
        <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License</a>. Allows the creation of derived work.
      </td>
    </tr>
    %if thing.captcha:
      <tr>
        <td>
          ${thing.captcha.render()}
        </td>
      </tr>
    %endif
    <tr>
      <td>
        %if thing.published_status == "published":
          <button class="js-publish-button btn" data-save-action="update" type="submit">
            Update
          </button>
          <button class="js-save-button btn btn-danger"  data-save-action="unpublish" type="submit">
            Unpublish
          </button>
          <a href="${thing.permalink}" target="_blank">View</a>
        %else:
          <button class="js-save-button btn" data-save-action="save" type="submit">
            Save as Draft
          </button>
          <button
            class="js-publish-button btn ${'' if allowed_to_publish else 'btn-disabled'}"
            ${"" if allowed_to_publish else "disabled"}
            data-save-action="publish"
            type="submit"
            title="${not_allowed_to_publish_error_message}"
          >
            Publish
          </button>
          %if thing.published_status == "draft":
            <a href="${thing.permalink}" target="_blank">Preview</a>
          %endif
        %endif
        <input type="hidden" id="keep_editing" name="keep_editing" value="on" />
        <input class="js-subreddit" name="sr" value="${thing.draft_subreddit.name}" hidden />
        <input class="js-link-submit-action" type="hidden" name="link_submit_action" value="" />
        <span id="status" class="error"></span>
        ${error_field("RATELIMIT", "span")}
        ${error_field("SUBREDDIT_FORBIDDEN", "span")}
      </td>
    </tr>
  </table>

  <script type="text/javascript">
    (function() {
      function updateSubredditOnClick(button, subreddit) {
        button.click(function(event) {
          event.preventDefault();
          $subreddit.attr("value", subreddit);
          var submitAction = jQuery(event.target).attr("data-save-action");
          jQuery(".js-link-submit-action").attr("value", submitAction);
          jQuery("#newlink").trigger("submit");
        });
      }

      var $saveButton = jQuery(".js-save-button");
      var $publishButton = jQuery(".js-publish-button");
      var $subreddit = jQuery(".js-subreddit");

      updateSubredditOnClick($saveButton, "${thing.draft_subreddit.name}");
      updateSubredditOnClick($publishButton, "${thing.main_subreddit.name}");
    })();
    (function () {
      init_tinymce("http://${get_domain(subreddit=False)}/");
      var form = $('newlink');

      if(form) {
        setMessage(form.title, ${json(_('Enter a title for the article.'))});

        form.title.setAttribute("data-orig-value", form.title.value);
        form.article.setAttribute("data-orig-value", form.article.value);

        function unsavedPrompt() {
          var message = "You've made changes to the article, but haven't submitted it.";

          if (form.title.value && form.title.value !== form.title.getAttribute("data-orig-value"))
            return message;

          // Ensure that TinyMCE has saved the content back to the textarea
          // before checking its content
          var editor = tinyMCE.activeEditor;
          if (editor && editor.isDirty()) {
            editor.save();
          }

          // The editor sometimes inserts or modifies extraneous HTML tags, which
          // we need to ignore to prevent false positives
          var articleText = stripHTMLTagsDangerously(form.article.value);
          if (articleText && articleText !== stripHTMLTagsDangerously(form.article.getAttribute("data-orig-value")))
            return message;
        }

        BeforeUnload.bind(unsavedPrompt);

        jQuery(form).bind("submit", function () {
          tinyMCE.get("article").save();
          function prehandle(res_obj) {
            if (res_obj && !res_obj.error)
              BeforeUnload.unbind(unsavedPrompt);
          }
          return post_form(this, "submit", linkstatus, null, true, null, {prehandle_func: prehandle});
        });
      };
    })();
  </script>

  <script type="text/javascript">
  (function ($) {

    $(document).ready(function() {
      $("#sidebar").css("display", "none");
      $("#content").css("float", "none");
      $("#content").css("padding", "30px 32px 0 32px");
      $("#content").css("width", "auto");

      var messages = {
        displayIfNecessary: function() {
          if (this.getMessage()) {
            this.displayMessage();
            this.removeQueryString();
          }
        },
        displayMessage: function() {
          $(".js-link-confirmation-message")
            .html(this.getMessage())
            .removeClass("displayNone");
        },
        removeQueryString: function() {
          history.pushState("", document.title, window.location.pathname);
        },
        getMessage: function() {
          var url = "${unsafe(thing.permalink)}";
          var messageType = getQueryVariable("message");
          var messages = {
            "update": "Your published article has been updated. <a href='${unsafe(thing.permalink)}' target='_blank'>View</a>",
            "unpublish": "Your article is no longer publicly visible.",
            "save": "Your draft was saved. <a href='${unsafe(thing.permalink)}' target='_blank'>Preview</a>",
            "publish": "Your article is published. <a href='${unsafe(thing.permalink)}' target='_blank'>View</a>",
          };
          return messages[messageType];
        },
      };

      messages.displayIfNecessary();
    });

  })(jQuery);
  </script>
</%call>
