## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################

<%namespace file="utils.html" import="error_field"/>

<form id="passwordEmail" action="/post/update" method="post" class="pretty-form medium-text"
  onsubmit="return post_form(this, 'update')">
  <div class="field-wrapper">
    <div class="field">
      <label for="currentPassword">${_("Current password (required)")}</label>
      <input type="password" class="textbox" name="curpass" id="currentPassword">
      <span class="error">${error_field("WRONG_PASSWORD")}</span>
    </div>
    <div class="field">
      <label for="newPassword">${_("New password")}</label>
      <input type="password" name="newpass" class="textbox" id="newPassword">
      <span class="error">${error_field("BAD_PASSWORD")}</span>
    </div>
  </div>
  <div class="field-wrapper">
    <div class="field">
      <label for="email">${_("Email")}</label>
      <input type="text" name="email" class="textbox" id="email" value="${hasattr(c.user,'email') and c.user.email or ''}">
      <span class="error">
        ${error_field("BAD_EMAIL")}
        ${error_field("NO_EMAIL")}
      </span>
    </div>
    <div class="field">
      <label for="verifyPassword">${_("Verify password")}</label>
      <input type="password" class="textbox" id="verifyPassword" name="verpass">
      <span class="error">${error_field("BAD_PASSWORD_MATCH")}</span>
    </div>
  </div>
  <div class="clear"></div><br>
  <button type="submit" class="button">${_('Save')}</button>
  <span id='status' class='error'></span>
</form>
