## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
## 
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
## 
## The Original Code is Reddit.
## 
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
## 
## All portions of the code written by CondeNet are Copyright (c) 2006-2008
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%!
   from r2.lib.template_helpers import add_sr
   from r2.lib.utils import UrlParser
   import random
%>
<%namespace file="utils.html" import="error_field, language_tool, language_checkboxes, plain_link"/>

<%def name="checkbox(text, name)">
    <label for="${name}"><input name="${name}" id="${name}" type="checkbox" class="checkbox"\
               %if getattr(c.user, "pref_" + name):
               checked="checked"\
               %endif
               />
    ${text}</label>
</%def>

<%def name="link_options()">
  <select name="numsites" style="margin: 0 .5em 0 .5em">
        %for x in [5, 10, 25]:
        <option ${x == c.user.pref_numsites and "selected='selected'" or ""}>
          ${x}
        </option>
        %endfor
  </select>
</%def>

<%def name="media_radio(val, label)">
  <input id="media_${val}" class="nomargin" 
         type="radio"  value="${val}" name="media"
         ${"checked='checked'" if c.user.pref_media == val else ''} /> 
  <label for="media_${val}">${label}</label>
  <br/>
</%def>

<%def name="num_input(s, name)">
  <input type="text" size="4" maxlength="4" 
         name="${name}" class="textbox small"
         value="${s if s is not None else ''}" />
</%def>

%if c.user_is_loggedin and thing.done:
  <p class="error">${_("Your preferences have been updated")}</p>
%endif

%if c.user_is_loggedin:
  <%
    action = "/post/options" 
    if not c.frameless_cname:
      action = add_sr(action, nocname=True)
  %>
  <form action="${action}" method="post">
    <input type="hidden" name="uh" value="${c.modhash}" />
    %if c.cname:
      <input type="hidden" name="${UrlParser.cname_get}" value="${random.random()}" />
    %endif
    <input type="hidden" name="lang" value="English [en]" />
    <input type="hidden" name="all-langs" value="all" />

    <div id="options">
      <h6>${_("Link options")}</h6>
      <ul>
        <li>${checkbox(_("Don't show articles after I've liked them"), "hide_ups")}</li>
        <li>${checkbox(_("Don't show articles after I've disliked them"), "hide_downs")}</li>
        <li>${unsafe(_("Display %(num)s articles at once") % dict(num=capture(link_options)))}</li>
        <% input = capture(num_input, c.user.pref_min_link_score, 'min_link_score') %>
        <li><label>${unsafe(_("Don't show me articles with a score less than %(num)s") % dict(num = input))} (Blank for none)</label></li>
      </ul>

      <h6>${_("Comment options")}</h6>
      <ul>
        <li>${checkbox(_("Show parent comments on"), "show_parent_comments")}
          <a href="/comments">/comments</a></li>

        <% input = capture(num_input, c.user.pref_min_comment_score, 'min_comment_score') %>
        <li>
          <label>${unsafe(_("Don't show me comments with a score less than %(num)s") % dict(num = input))} (Blank for none)</label></li>
        <%
          input = capture(num_input, c.user.pref_num_comments, 'num_comments')
          s = c.user.pref_num_comments
        %>
        <li><label>${unsafe(_("Display %(num)s comments by default") % dict(num = input))}</label></li>
      </ul>

      <h6>${_("Privacy options")}</h6>
      <ul>
        <li>${checkbox(_("Make my votes public"), "public_votes")}</li>
      </ul>

      <h6>${_("Location")}</h6>
      <ul>
        <li>
        <input name="location" type="text" class="textbox" size="40" placeholder="Enter your location here" value="${c.user.pref_location}" />
        ${error_field("LOCATION_TOO_LONG", kind="p", cls="form-info-line")}
        <%
          lat = c.user.pref_latitude if c.user.pref_latitude is not None else ''
          lng = c.user.pref_longitude if c.user.pref_longitude is not None else ''
        %>
        <input name="latitude" type="hidden" value="${lat}" />
        <input name="longitude" type="hidden" value="${lng}" /></li>
        <li>
          <label>
            <input type="checkbox" class="checkbox" name="meetup_notify_enabled"
              ${'checked="checked"' if c.user.pref_meetup_notify_enabled else ''} />
            Email me about meetups within
          </label>
          ${num_input(c.user.pref_meetup_notify_radius, 'meetup_notify_radius')}
          km of me</li>
      </ul>

      <h6><!-- doesn't look good: <a href="http://effectivealtruismhub.com/user/profiles">-->EA Profiles<!--</a>--> Link</h6>
      <ul>
        <li><input id="url" name="url" type="url" pattern="(http)?(s?)(:\/\/)?(www.)?effectivealtruismhub\.com\/user\/.*" title="Please enter a link to your EA Profile, which should look like http://effectivealtruismhub.com/user/your-name" placeholder="http://effectivealtruismhub.com/user/your-name" class="textbox" value="${c.user.pref_url}"/></li>
        <li class="option-explanation">Add a link to your EA Profile so people can find out more about you when you comment. <a href="http://effectivealtruismhub.com/user/profiles/all/alphabetical">Find your Profile address here</a>, or <a href="http://effectivealtruismhub.com/user/register">sign up</a> if you don't already have one.</li>
      </ul>


      <button class="btn" type="submit">${_('Save Options')}</button>
    </div><!-- END options -->
  </form>

  <script type="text/javascript">
    makeGeocodedInputWidget({
      input:     $$('input[name="location"]').first(),
      latitude:  $$('input[name="latitude"]').first(),
      longitude: $$('input[name="longitude"]').first()
    });
  </script>
%endif
